html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  font-size: 1rem;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
}


/* Header and Navigation Section */

/****** Go back over this doing it in the order they have been teaching ******/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navigation {
  display: inline-flex;
  margin-top: 1rem;
  width: 960px;
  color: white;
  background-color: cadetblue;
}

.site-branding {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
}

.site-logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  display: inline-flex;
}

nav li {
  margin: 1rem 0;
  margin-right: 2rem;
}

/* ".mobile-nav container" in index.html = ".mobile-nav.container" in style.css */
.mobile-nav {
  display: none;
}

/* Main Banner Section */

.header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-size: cover;
}

.headline-container {
  display: flex;
  justify-content: flex-end;
  width: 1032px;
}

.headline {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 13.5rem;
  padding: 1.5rem 5rem;
  background-color: white;
}


/* Services Section */

.services {
  display: flex;
  flex-direction: row;
  margin: 3rem 0;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
}

.service-img1 img {
  max-width: 3.5rem;
}

.service-img2 img {
  max-width: 4.5rem;
}

.service-img3 img {
  max-width: 4.5rem;
}

.service span {
  text-align: center;
}

/* Company Information Section */

.company-info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.info-title {
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* Footer Section */

.footer {
  display: flex;
  background-color: azure;
  width: 100%;
}

.footer-logo {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.footer img{
  height: 1.5rem;
  margin-right: 1rem;
}
